paper-item {
  fill: #d0d0d0;
  color:#999;
}

span.info {
  flex:1 1 auto;
}

span.length {
  font-size:0.8em;
  font-weight:100;
}

span.artist {
  font-size: 20px;
}

span.title {
  font-size: 20px;
}

span.length {
  font-size: 20px;
}

span.location {
  font-size: 16px;
}

span.type {
  font-size: 18px;
  color: blue;
}
