.header {
  width: 100%;
}

.mixtaper-title {
  font-size: 30px;
}

.mixtaper-description {
  margin: 45px;
}

:host {
    width: 800px;
    background: #eee;
    margin:24px 0;
}

play-button {
  width: 174px;
  height: 150px;
  border-radius: 5px;
  margin:12px;
  background:white;
  vertical-align:top;
}

x-playlist {
  width: 598px;
  display: inline-block;
}

paper-slider {
  width: 100%;
}

paper-slider::shadow #sliderKnobInner {
  height: 0;
}
